#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: zindex('banner_filter');
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 50% 50%;

    &::after {
        content: '';
        position: absolute;
        z-index: zindex('banner_filter');
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        transition: .3s;
    }

    &:hover {
        &::after {
            transition: .3s;
            background-color: rgba(0, 0, 0, .1);
        }

        .name_c {
            transform: translateY(-5px);
        }
    }
}

.name_c {
    position: relative;
    z-index: zindex('banner_name');
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.name {
    font-size: 8rem;
    color: white;
    font-weight: bold;
}

.name_txt {
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    font-size: 20px;

    span {
        margin-top: 10px;
    }
}

.n_scroll {
    z-index: zindex('scroll');
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    p {
        color: white;
        font-size: 15px;
        padding-bottom: 56px;
        transform: scale(0.75);
    }
}

.n_line {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    width: 1px;
    animation-name: n_line;
    animation-duration: 2.5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes n_line {
    from {
        height: 0;
    }

    to {
        height: 50px;
    }
}

#about {
    padding: 6rem 4.5rem 18rem;
    display: flex;
    flex-direction: row;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 78%;
        height: 0;
        padding-top: 32%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $sub-color;
    }
}

.ab_title {
    text-align: center;
    flex: 1;

    h1 {
        font-size: 60px;
    }
}

.ab_box {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.ab_item {
    padding: 0 1.5rem;
    flex: 1;
    text-align: center;

    h4 {
        padding-top: .5rem;
        margin-bottom: 1.5rem;

        span {
            margin: 0 .5rem 0 .25rem;
            font-size: 2rem;
        }
    }    
}

.ab_txt{
    &:not(:last-child) {
        margin-bottom: 1.75rem;
    }

    p {
        text-align: left;

        &:not(:last-child) {
            margin-bottom: .25rem;
        }
    }
}

.ab_icon {
    display: inline-block;
    width: 7.5rem;
    height: 7.5rem;
    background-size: 40%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    flex-grow: 0;
    flex-shrink: 0;
    &.a1{
        background-image: url(../img/img_intro01.svg);
    }
    &.a2{
        background-image: url(../img/img_intro02.svg);
    }
    &.a3{
        background-image: url(../img/img_intro03.svg);
    }
}

.title {
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    h2 {
        position: absolute;
        bottom: -30px;
        left: 10%;
        font-size: 3.5rem;
    }
}

#work {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3rem 4.5rem 6rem;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        width: 80%;
        height: 100%;
        background-color: $work-color;
        top: 0;
        left: 3rem;
    }
}

.w_item {
    flex: 1;
    margin: 1.5rem;

    &:hover {
        transform: translateY(-5px);
    }

    h5 {
        margin-top: .5rem;
        color: $swork-color;
        font-weight: normal;
    }

    img {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }
}

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $font-color;
    color: white;
    padding: 4rem 3rem;

    &:hover {
        opacity: .95;
    }
}

.c_btn {
    border: 1px solid white;
    padding: 1rem 5rem 1rem 2rem;
    background-image: url(../img/icon_mail_c.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem) 50%;
    background-size: 20px;

}


@mixin index--md() {
    #about {
        padding: 6rem 1.5rem 12rem;
        flex-direction: column;

        &::before {
            width: 90%;
            padding-top: 60%;
        }
    }

    .ab_title {
        margin-bottom: 3rem;
    }

    #work {
        &::before {
            left: 0;
        }

        padding: 3rem 1.5rem 1.5rem;
    }
}

@mixin index--sm() {
    #about {
        padding: 6rem 1.5rem 4.5rem;

        &::before {
            width: 60%;
            padding-top: 40%;
        }
    }

    .ab_box {
        flex-direction: column;
    }

    .ab_item {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .ab_con {
        padding: 0 0 1.5rem 1.5rem;
        flex-grow: 1;

        h4 {
            text-align: left;
        }
    }

    .ab_icon {
        width: 6rem;
        height: 6rem;
    }

    #work {
        padding: 3rem 1.5rem 1.5rem;
        flex-wrap: wrap;

        &::before {
            width: 80%;
        }
    }

    .w_item {
        flex: 360px 0 0;
    }

    #contact {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 1.5rem;
    }

    .c_btn {
        margin-top: 1.5rem;
    }
}

@mixin index--sm_414() {
    .name_c {
        width: 270px;
    }

    .name {
        font-size: 6rem;
    }

    .w_item {
        flex: 100% 0 0;
    }
}